<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/otro-webcomponent/otro-webcomponent.html">

<dom-module id="wc-principal">
  <template>
    <style>
      :host {
        display: block;
      }
      h2 {
        font-size: 30px;
        color: red;
        font-weight: bold;
      }
    </style>
    <!--Ejemplo de two-way binding  -->
    <input type="text" value="{{nombre::input}}"/>
    <p> Hola soy [[nombre]] y mi edad es [[edad]]</p>
    <input type="range" min="18" max="100" value="{{edad::input}}"/>
    <h2>Hello [[nombre]]!</h2>
    <h2>Mi edad es [[edad]]!</h2>
    <otro-webcomponent></otro-webcomponent>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class WcPrincipal extends Polymer.Element {
      static get is() { return 'wc-principal'; }
      static get properties() {
        return {
          nombre: {
            type: String,
            value: 'Victor'
                  },
          edad:{
            type:Number,
            value:30
          }
        };
      }
    }

    window.customElements.define(WcPrincipal.is, WcPrincipal);
  </script>
</dom-module>
