<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3> ID: [[userid]]</h3>
    <h3> Nombre completo: [[nombre]]</h3>
    <div hidden$="[[!cargando]]">Estamos cargando datos...</div>
    <iron-ajax auto=""
         id="getUsers"
         url="http://localhost:3000/techu-peru/v3/users/{{userid}}"
         handle-as="json"
         loading="{{cargando}}"
         on-response="showResponse">
    </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     class VisorUsuario extends Polymer.Element {
       static get is() { return 'visor-usuario'; }
       static get properties() {
         return {
           userid : {
             type: Number
           }, nombre: {
             type: String
           }
         };
       }
       showResponse(data) {
         console.log(data.detail.response);
         this.userid = data.detail.response[0].id ;
         this.nombre = data.detail.response[0].first_name + " " + data.detail.response[0].last_name;
       }
     }
     window.customElements.define(VisorUsuario.is, VisorUsuario);
   </script>
 </dom-module>
