<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h1>Sus cuentas:</h1>
    <table class="table table-striped">
      <thead>
        <th scope="col">IBAN</th>
        <th scope="col">Balance</th>
      </thead>
      <tbody>
    <template is="dom-repeat" items="{{accounts}}">
      <tr>
        <td>{{item.numcta}}</td>
        <td>{{item.saldo}}</td>
      </tr>
    </template>
    <tbody>
    <iron-ajax
      id="getAccounts"
      url="http://localhost:3000/techu-peru/v3/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData">
  </template>

  <script>
    /**
     * `visor-cuentas`
     * Visor de cuentas
     *
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid : {
            type: Number,
            observer:"_idChanged"
          }, iban: {
            type: String
          }, balance: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }

      _idChanged(){
        this.$.getAccounts.generateRequest();
      }
      showData(data) {
        console.log('response');
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }
    }
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
