<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="otro-webcomponent">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Hello [[prop1]]!</h2>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OtroWebComponent extends Polymer.Element {
      static get is() { return 'otro-webcomponent'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'otro-webcomponent'
          }
        };
      }
    }

    window.customElements.define(OtroWebComponent.is, OtroWebComponent);
  </script>
</dom-module>
